.featured__text,
.featured__subtext {
  text-align: center;
  margin-bottom: 2rem;
}

.featured__section-left {
  position: relative;
  align-self: flex-end;
}

.featured__img {
  width: 100%;
  margin-left: -18%;
}
.question__section-grid {
  @include media-breakpoint-down(sm) {
    grid-template-columns: 1fr;
    row-gap: 1.5rem;
  }
  display: grid;
  grid-template-columns: 1fr 5fr;
  row-gap: 3rem;
}

.question__section {
  @include media-breakpoint-down(sm) {
    margin: 0;
  }

  display: flex;
  margin: 2rem 3rem;
}
.featured__section-right {
  display: grid;
  justify-content: center;
  align-items: center;
}

.question__title {
  margin-left: 2rem;
}
.question__subtitle-text {
  @include media-breakpoint-down(sm) {
    padding-left: 0;
  }
  margin: 1rem 0;
  color: rgb(146, 146, 146);
}

/*.accordion__flex-button{
  margin-top: -3rem;
  z-index: 1;
}*/

.featured__reverse-flex {
  @include media-breakpoint-down(lg) {
    display: flex;
    flex-direction: column-reverse;
  }
  padding-top: 4.5rem;
  display: flex;
}

.question__title-text {
  @include media-breakpoint-down(sm) {
    padding-left: 0;
    font-size: 1rem;
  }

  padding-left: 1.4rem;
}
.question__number {
  @include media-breakpoint-down(sm) {
    display: inline-block;
  }
  color: rgb(146, 146, 146);
  display: inline-block;
}

.featured__subtext {
  color: rgb(146, 146, 146);
}
