.footer_section {
  @include media-breakpoint-down(sm) {
    padding-bottom: 2.5rem;
  }
  padding-bottom: 5rem;
}

.footer_headline {
  margin-bottom: 1.2rem;
  font-size: 1rem;
}
.footer__links-li {
  @include media-breakpoint-down(sm) {
    font-size: 0.9rem;
  }
  color: rgb(146, 146, 146);
  margin-bottom: 1.2rem;
}


.footer__icons {
  display: flex;
  column-gap: 2rem;
}

.footer__links {
  font-size: 1.5rem;
  margin-top: 1.2rem;
}

.footer__extra-links {
  @include media-breakpoint-down(sm) {
    flex-direction: column;
    margin-top: 2rem;
    row-gap: 1.3rem;
  }
  display: flex;
  column-gap: 1.3rem;
}
.footer__extra {
  @include media-breakpoint-down(sm) {
    justify-content: flex-start;
  }
  display: inline-flex;
  justify-content: flex-end;
}

.footer__extra-section {
  @include media-breakpoint-down(sm){
    font-size: 0.9rem;
  }
  color: rgb(146, 146, 146);
  padding: 3rem 0 1.5rem 0;
}
.footer__logo-img {
  width: 200px;
}

.footer__left-section {
  margin-bottom: 2rem;
}

.footer__resources-section {
  @include media-breakpoint-down(sm){
    margin-top: 1.3rem;
  }
  
  
}
