.infos__background-section {
  @media (min-width: 270px) and (max-width: 300px) {
    height: 2900px;
  }
  @media (min-width: 301px) and (max-width: 400px) {
    height: 3150px;
  }
  @media (min-width: 401px) and (max-width: 500px) {
    height: 2900px;
  }
  @media (min-width: 501px) and (max-width: 600px) {
    height: 2700px;
  }
  @media (min-width: 601px) and (max-width: 700px) {
    height: 2900px;
  }
  @media (min-width: 701px) and (max-width: 750px) {
    height: 2700px;
  }
  @media (min-width: 801px) and (max-width: 999px) {
    height: 2058px;
  }
  height: 1400px;
  background-image: url("../src/images/a2a2d7d120f58231afe456a6c690d573_02.png");
  background-size: cover;
  background-position: center;
  color: white;
  overflow: hidden;
  padding-left: 0.75rem;
}

.point__icon {
  display: grid;
  place-items: center;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background: rgb(62, 62, 62);
  background: linear-gradient(
    143deg,
    rgba(62, 62, 62, 1) 11%,
    rgb(35, 35, 35) 75%
  );
}

.point__icon i {
  font-size: 3rem;
}

.get_to-know-btn {
  @include media-breakpoint-down(sm) {
    font-size: 0.8rem;
  }
  border: 1px solid rgb(255, 255, 255);
  padding: 0.7rem 1.2rem;
  display: inline-block;
}

p {
  margin-bottom: inherit;
}

.infos__section-subtitle p {
  font-weight: 200;
  color: rgb(146, 146, 146);
  margin-bottom: 2rem;
}
.container-fluid {
  padding: 0;
}

.infos__right-section {
  @include media-breakpoint-down(lg) {
    flex-basis: 100%;
  }
  padding-top: 4rem;
  flex-basis: 40%;
}

.infos__left-section {
  @include media-breakpoint-down(lg) {
    flex-basis: 100%;
  }
  padding-top: 4rem;
  flex-basis: 60%;
}

.extra__infos__left-section,
.extra__infos__right-section {
  @include media-breakpoint-down(sm) {
    margin-top: 5rem;
  }
  margin-top: 10rem;
}

.extra__infos__right-section {
  @include media-breakpoint-down(sm) {
    padding-left: 1rem;
  }
  padding-left: calc(30% - 1rem);
}
.point_img {
  width: 7rem;
}

.features__section {
  padding-bottom: 5rem;
}
.first__card {
  padding: 1rem 2rem;
  margin-top: 6rem;
}
.point__headline-title {
  font-size: 1.4rem;
  font-weight: 400;
  margin-top: 2rem;
}

.point__description {
  margin-top: 1.7rem;
  line-height: 2.5;
  color: rgb(146, 146, 146);
}
.infos__section-title {
  margin-bottom: 2.5rem;
}

.infos-40m,
.infos-12 {
  margin-bottom: 1rem;
  font-size: 2.8rem;
  font-weight: 400;
}
