.main__first-section {
   
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 4.5rem;
}

.cashback__text-title {
  
  margin-bottom: 2rem;
  letter-spacing: 0.3rem;
}

.cashback__text-heading {
  
  margin-bottom: 2rem;
  font-weight: 600;
  font-size: 3rem;
  line-height: 4rem;
}
.cashback__text-para {
  margin-bottom: 2rem;
}
.main__buttons {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.secondbutton {
  margin-left: 1rem;
  border: 1px solid black;
  padding: 0.7rem 1.2rem;
}

.main__image img {
  width: 100%;

}

.main__second-section{  
  align-self: flex-end;
}
.main-logos {
  width: 100%;
  margin-bottom: 2rem;
}
