.subscribe_container {
  justify-content: space-between;
}
.search_button {
  @include media-breakpoint-down(sm){
    margin-top: 1rem;
  }
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-self: center;
}

.subscribe__text {
  font-size: 2.5rem;
}

.subscribe_inputbox {
  @include media-breakpoint-down(sm){
    padding-left: .5rem;
  }
  border: 1px solid black;
  width: 100%;
  padding-left: 2rem;
}

.subscribe_inputbox:focus {  
  outline: none;
}

.subscribe_button {
  @include media-breakpoint-down(sm){
    padding: .5rem .7rem;
  }
  color: white;
  background-color: black;
  padding: 1rem 3rem;
  border: none;
}
